section#top
  button#signOutButton
    span
      i.material-icons logout
      |
      | Signout

section#content
  button#event1
    span
      i.material-icons alarm
      |
      | Event1
  
  button#event2
    span
      i.material-icons alarm
      |
      | Event2
  
  button#event3
    span
      i.material-icons alarm
      |
      | Event3

  button#event4
    span
      i.material-icons alarm
      |
      | Event4

  button#event5
    span
      i.material-icons alarm
      |
      | Event5